* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizeng: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  font-family: inherit;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 500;
}
.btn:hover {
  background: #9b0d19;
}
.header__item:hover {
  background: #9b0d19;
}
.header {
  overflow: hidden;
  flex: 1 1 auto;
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}
.header__row {
  padding: 22px 0;
  display: flex;
  justify-content: space-between;
}
.logo {
  display: flex;
}
.logo img {
  width: 71px;
  height: 56px;
}
.header__bloc-logo {
}
.text-logo {
  color: #263238cc;
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.065em;
  text-align: left;
  margin: 0px 0 0 3px;
}

.text-logo:last-child {
  color: #263238;
}
.text-logo:first-child {
  color: #00000099;
  margin: 6px 0 0 3px;
}
.header__list {
  display: flex;
}
.header__item {
  margin: auto 10px;
  padding: 5px 10px;
  border-radius: 5px;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #1f2e35cc;
}
.header__item:hover .header__sub-menu__list {
  display: block;
}
.header__menu__icon {
  display: none;
}
@media (max-width: 500px) {
  .footer__bloc {
    align-content: space-between;
    flex-direction: column;
  }
  .footer__item:last-child {
    padding: 60px 0 0 0;
    margin-left: 0px;
  }
}
@media (max-width: 600px) {
  .product__row {
    align-content: space-between;
    flex-direction: column;
  }
  .product__item {
    text-align: center;
  }
  .product__title-item {
    display: flex;
    justify-content: center;
  }
  .product__text-item {
    margin: 0 auto;
    text-align: center;
  }
}
@media (max-width: 955px) {
  .header__menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    padding: 3px;
  }
  .header__menu__icon span,
  .header__menu__icon::before,
  .header__menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: rgb(160, 0, 0);
  }
  .header__menu__icon::before,
  .header__menu__icon::after {
    content: "";
  }
  .header__menu__icon::before {
    top: 0;
  }
  .header__menu__icon::after {
    bottom: 0;
  }
  .header__menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .header__list {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 100px 30px 30px 30px;
    transition: all 0.3s ease 0s;
    display: none;
  }
  ._active {
    display: block;
  }
  .header__item {
    color: #fff;
    margin: 0 0 30px 0;
  }
  .header__menu__link {
    color: #fff;
  }
}
.header__menu {
  margin: auto;
}
.header__item img {
  margin: 5px 0 0 0;
}
.header__sub-menu__list {
  position: absolute;

  margin: 0 0 0 -25px;
  display: none;

  background: #f33344;
  padding: 15px 25px;
}
.header__sub-menu__list {
}
.header__sub-menu__list li {
  margin: 0px 5px;
  padding: 5px;
}
.sub-menu__link {
  color: #1f2e35cc;
}

.header__btns {
  margin: auto 10px;

  display: flex;
}
.header__btn {
  padding: 5px;
  margin: auto 10px;
}

.main {
}

.hero {
}
.header__menu__link {
  color: #1f2e35;
}
.hero__bloc {
  background: url("pana.svg") center right / contain no-repeat;
  margin: 125px 0 175px 0;
  padding: 0px 0 0 0;
}
.hero__title {
  max-width: 545px;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: left;
}
.hero__title p {
  max-width: 545px;

  color: #ee4248;
}
.hero__text {
  max-width: 545px;

  margin: 24px 0;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}
.hero__btn {
  color: #fff;
  padding: 10px 15px;
  background: #ee4248;
}

/*section welcom*/
.welcom {
  padding: 60px 0;
  background: #f6f6f6;
}
.welcom__bloc {
  background: url("pana1.png") center left / contain no-repeat;
}
.welcom__title {
  margin-left: auto;

  max-width: 520px;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: left;
}
.welcom__title span {
  max-width: 520px;
  color: #ee4248;
}
.welcom__text-first {
  margin-top: 24px;
  margin-left: auto;
  max-width: 520px;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
}
.welcom__text-second {
  margin-top: 24px;
  margin-left: auto;
  max-width: 520px;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
}
/*section product*/
.product {
  padding: 116px 0 0 0;
}

.product__title {
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: center;
  color: #1f2e35;
}
.product__row {
  display: flex;
}
.product__item {
  padding: 50px 0;
  flex: 0 1 33.333%;
  margin: 0 10px;
}
.product__img-item {
}
.product__title-item {
  margin: 20px 0 0 0;
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 37px;
  letter-spacing: 0em;
  text-align: left;
  color: #ee4248;
}
.product__text-item {
  padding: 15px 0;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #30444e;
  max-width: 319px;
}
.product__btn-item {
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  background: #ee4248;
  padding: 8px 16px;
  border-radius: 5px;
}
/*footer*/
.footer__row {
  margin: 140px 0 20px 0;
}
.footer__bloc {
  margin: 10px 0 0 0;
  display: flex;
}
.footer__title {
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #263238;
}
.footer__text {
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #263238;
}
.footer__item:last-child {
  margin: -40px 0 0 20px;
}

/*copirat*/
.copirat {
  background: #ee4248;
}

.copirat__title {
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  padding: 22px 0;
}
